<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  </head>
  <body>
    <% @sites.each do |site| %>
      <h2>
        <a href='<%= site[:url] %>'><%= site[:name] %></a>
      </h2>
      <ul>
      <% site[:entries].each do |entry| %>
        <li>
          <a href='<%= entry[:url] %>'><%= entry[:title] %></a>
        </li>
      <% end %>
      </ul>
    <% end %>
  </body>
</html>
