<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  </head>
  <body>
    <div class='container'>
      <header class='jumbotron subhead'>
        <h1>Dev Lyfe</h1>
        <p class='lead'>
          Links about stuff
        </p>
      </header>
      <div class='row-fluid'>
        <% @sites.each_slice(2) do |sites| %>
          <div class='span6'>
            <% sites.each do |site| %>
              <h2>
                <a href='<%= site[:url] %>'><%= site[:name] %></a>
              </h2>
              <ul>
              <% site[:entries].each do |entry| %>
                <li>
                  <a href='<%= entry[:url] %>'><%= entry[:title] %></a>
                </li>
              <% end %>
              </ul>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
